/* Handicraft reset */
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}
body,
body * {
  margin: 0;
  padding: 0;
}
body,
button,
input,
textarea {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}

button {
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
}

.gy-btn {
  display: inline-block;
  padding: .5rem 3rem;
  background-color: #fefefe;
  color: cornflowerblue;
  text-decoration: none;
  border-radius: 2px;
  font-size: 1.2rem;
  font-weight: bold;

  &--big {
    font-size: 3rem;
  }
}
