.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.text-uppercase {
  text-transform: uppercase;
}

.color-content {
  color: var(--color-content);
}
.color-content-secondary {
  color: var(--color-content-secondary);
}

.icon-s {
  height: .825rem;
  width: .825rem;
}
.icon-m {
  height: 1rem;
  width: 1rem;
}
.icon-l {
  height: 1.5rem;
  width: 1.5rem;
}
.icon--flipped-y {
  transform: rotateY(180deg);
}
.icon--flipped-x {
  transform: rotateX(180deg);
}
.icon--flipped {
  transform: rotate(180deg);
}
.icon--rotated-left {
  transform: rotate(-90deg);
}
.icon--rotated-right {
  transform: rotate(90deg);
}
.btn-icon {
  padding: 1rem;
}
.btn-icon-s {
  padding: .5rem;
}

.anim-spin {
  animation: spin 2s ease-out infinite;
}
@keyframes spin {
  100% { transform: rotate(360deg); }
}

.anim-shake {
  animation: shake 0.85s cubic-bezier(.36, .07, .19, .97) both;
}
@keyframes shake {
   10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.hidden-visually {
  pointer-events: none;
  position: fixed;
  opacity: 0;
  top: -10vh;
}
@media screen and (min-width: 65.01rem) {
  .hidden-wide {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .hidden-wide--shift {
    display: none;
  }
}
@media screen and (max-width: 65rem) {
  .hidden-medium {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .hidden-medium--shift {
    display: none;
  }
}
@media screen and (max-width: 40rem) {
  .hidden-narrow {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .hidden-narrow--shift {
    display: none;
  }
}

.weight-s {
  font-weight: 300;
}
.weight-default {
  font-weight: 400;
}
.weight-m {
  font-weight: 500;
}
.font-s {
  font-size: .875rem;
}
.font-xs {
  font-size: .75rem;
}
.font-l {
  font-size: 1.25rem;
}

.intrinsic {
  position: relative;
  height: 0;
  padding-bottom: calc(100% / (var(--aspect-ratio)));
}
.intrinsic-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.f-v-align {
  display: flex !important;
  align-items: center !important;
}
.f-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.f-space {
  display: flex;
  justify-content: space-between;
}
.f-start {
  display: flex;
  justify-content: flex-start;
}
.f-end {
  display: flex;
  justify-content: flex-end;
}
.f-col {
  display: flex;
  flex-direction: column;
}
.f-grow {
  flex-grow: 1;
}

.d-inline-block {
  display: inline-block;
}

.m-right-xxs {
  margin-right: .25rem;
}
.m-right-xs {
  margin-right: .5rem;
}
.m-right-s {
  margin-right: .75rem;
}
.m-right-m {
  margin-right: 1.5rem;
}
.m-right-l {
  margin-right: 3rem;
}
.m-right-a {
  margin-right: auto;
}
.m-left-xxs {
  margin-left: .25rem;
}
.m-left-xs {
  margin-left: .5rem;
}
.m-left-s {
  margin-left: .75rem;
}
.m-left-m {
  margin-left: 1.5rem;
}
.m-left-a {
  margin-left: auto;
}
.m-top-s {
  margin-top: .75rem;
}
.m-top-m {
  margin-top: 1.5rem;
}
.m-top-l {
  margin-top: 3rem;
}
.m-bottom-s {
  margin-bottom: .75rem;
}
.m-bottom-m {
  margin-bottom: 1.5rem;
}
.m-bottom-l {
  margin-bottom: 3rem;
}
.m-a-l {
    margin: 3rem;
}
.m-a-s {
    margin: 1rem;
}
.m-a-m {
    margin: 1.5rem;
}

.m-left-0 {
    margin-left: 0 !important;
}

.m-bottom-0 {
    margin-bottom: 0 !important;
}
