/* Light theme: https://coolors.co/17bebb-d7f9f1-fff8f0-cacfd6-d6e5e3 */
/* Dark theme: https://www.colourhunt.com/palette/cjfv2bacoz2890119ynjx6a0s */
:root {
  --color-light-0: #17BEBB;
  --color-light-1: #D7F9F1;
  --color-light-2: #FFF8F0;
  --color-light-3: #CACFD6;
  --color-light-4: #D6E5E3;
  --color-light-5: #223;
  --color-light-6: #555580;

  --color-dark-0: #67416A;
  --color-dark-1: #614F7D;
  --color-dark-2: #5D5D92;
  --color-dark-3: #657B9D;
  --color-dark-4: #77B2BC;
  --color-dark-5: #FFF8F0;

  --color-primary: var(--color-light-0);
  --color-secondary: var(--color-light-1); /*light-4*/
  --color-background: var(--color-light-2);
  --color-disabled: var(--color-light-3);
  --color-faded: var(--color-light-4); /*light-1*/
  --color-content: var(--color-light-5); /*light-1*/
  --color-content-secondary: var(--color-light-6); /*light-1*/
}

.app--dark {
  --color-primary: var(--color-dark-0);
  --color-secondary: var(--color-dark-2);
  --color-background: var(--color-dark-1);
  --color-disabled: var(--color-dark-3); /*maybe custom light gray*/
  --color-faded: var(--color-dark-4);
  --color-content: var(--color-dark-5);
}
